In [172]:
import numpy as np
import pandas as pd
import math
import os

In [173]:
df = pd.read_csv("mk2-part1.csv")
df2 = pd.read_csv("mk2-part2.csv")

In [174]:
df2.head()

,Unnamed: 0,Котлы группы 130,Unnamed: 1,Unnamed: 2,Unnamed: 3,КА-9,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,0,Пережоги условного топлива,NaN,NaN,NaN,Dпе,Фактические значения,NaN,NaN,Нормативные значения,...,Фактические значения,NaN,NaN,Нормативные значения,NaN,NaN,Пережоги условного топлива,NaN,NaN,NaN
1,1,Т ух,Изб рс,присосы,ВСЕГО,NaN,Т ух,Изб рс,присосы,Т ух,...,Т ух,Изб рс,присосы,Т ух,Изб рс,присосы,Т ух,Изб рс,присосы,ВСЕГО
2,2,тут/ч,тут/ч,тут/ч,тут/ч,т/ч,С,-,%,С,...,С,-,%,С,-,%,тут/ч,тут/ч,тут/ч,тут/ч
3,3,"0,66","0,38","-0,29","0,74",215,"165,2","1,50","16,3","154,4",...,"177,0","1,31","12,8","164,5","1,32","20,0","0,30","-0,02","-0,15","0,13"
4,4,"0,63","0,39","-0,30","0,72",218,"164,4","1,50","16,2","154,5",...,"177,0","1,31","12,8","164,6","1,32","19,9","0,30","-0,02","-0,15","0,13"

In [175]:
df = df.drop(columns=['Unnamed: 0'])
df2 = df2.drop(columns=['Unnamed: 0'])

# Change name colums in mk2-part1

In [176]:
start_name = []
for col in df.columns:
  if col[0] == "U":
    start_name.append("")
  else:
    start_name.append(col)

In [177]:
name = []
for i in range(21):
  for idx, row in df.iterrows():
    if isinstance(row[i], str):
      name.append(row[i])
    else:
      name.append("")
    break

In [178]:
name_next_line = []
for i in range(21):
  for index, row in df.iloc [1:2, :].iterrows ():
    if isinstance(row[i], str):
      name_next_line.append(row[i])
    else:
      name_next_line.append("")
      break

In [179]:
name_next_line_2 = []
for i in range(21):
  for index, row in df.iloc [2:3, :].iterrows ():
    if isinstance(row[i], str):
      name_next_line_2.append(row[i])
    else:
      name_next_line_2.append("")
    break

In [180]:
for i in range(0,21):
        df=df.rename(columns={df.columns[i]: str(start_name[i]) + " " + str(name[i]) + " " + str(name_next_line[i]) + " " + str(name_next_line_2[i])})

In [181]:
df = df.drop(labels = [0],axis = 0)
df = df.drop(labels = [1],axis = 0)
df = df.drop(labels = [2],axis = 0)

In [182]:
df = df.reset_index(drop=True)

# Change name colums in mk2-part2

In [183]:
start_name = []
for col in df2.columns:
  if col[0] == "U":
    start_name.append("")
  else:
    start_name.append(col)

In [184]:
name = []
for i in range(48):
  for idx, row in df2.iterrows():
    if isinstance(row[i], str):
      name.append(row[i])
    else:
      name.append("")
    break

In [185]:
name_next_line = []
for i in range(48):
  for index, row in df2.iloc [1:2, :].iterrows ():
    if isinstance(row[i], str):
      name_next_line.append(row[i])
    else:
      name_next_line.append("")
      break

In [186]:
name_next_line_2 = []
for i in range(48):
  for index, row in df2.iloc [2:3, :].iterrows ():
    if isinstance(row[i], str):
      if row[i] == "-":
        name_next_line_2.append("")
      else:
        name_next_line_2.append(row[i])
    else:
      name_next_line_2.append("")
    break

In [187]:
for i in range(0,48):
        df2=df2.rename(columns={df2.columns[i]: str(start_name[i]) + " " + str(name[i]) + " " + str(name_next_line[i]) + " " + str(name_next_line_2[i])})

In [188]:
df2 = df2.drop(labels = [0],axis = 0)
df2 = df2.drop(labels = [1],axis = 0)
df2 = df2.drop(labels = [2],axis = 0)

In [189]:
df2 = df2.reset_index(drop=True)

In [190]:
df.to_csv('mk2-part1_normal_name_columns.csv')
df2.to_csv('mk2-part2_normal_name_columns.csv')