In [ ]:
import numpy as np
import pandas as pd
import os

In [ ]:
df = pd.read_csv("page2.csv")

In [ ]:
collum_name = []
for col_name, data in df.items():
  collum_name.append(data[0])

In [ ]:
counter = {}

for elem in collum_name:
    counter[elem] = counter.get(elem, 0) + 1

doubles = {element: count for element, count in counter.items() if count > 1}

print(doubles)

{nan: 7}

In [ ]:
df=df.rename(columns={df.columns[1]: 'Period_Time'})
df.head()
df.at[0, 'Period_Time'] = 'Period'

In [ ]:
df = df.drop(columns=['Unnamed: 7', 'Unnamed: 14', 'Unnamed: 21', 'Unnamed: 30', 'Unnamed: 39', 'Unnamed: 42', ])

In [ ]:
df=df.rename(columns={df.columns[1]: 'Period_Time'})

In [ ]:
name = []
for i in range(44):
  for idx, row in df.iterrows():
    name.append(row[i])
    break

In [ ]:

name_next_line = []
for i in range(44):
  for index, row in df.iloc [1:3, :].iterrows ():
      name_next_line.append(row[i])
      break

[1, 'Период', '00T000GE0L19', '00T000GE0N19', '00T000DU0L19', '00T000DU0N19', '00S000GD0L19', '00S000GD0N19', '03T110DH0N19', '04T110DH0N19', '05T110DH0L19', '06T110DH0L19', '07T110DH0L19', '08T110DH0L19', '03T000GR0N19', '04T000GR0N19', '05T000GR0N19', '06T100GR0L19', '07T100GR0L19', '08T100GR0L19', '10K000GB0L19', '11K000GB0L19', '12K000GB0L19', '05K000GB0N19', '06K000GB0N19', '07K000GB0N19', '08K000GB0N19', '09K000GB0L19', '10K100GR0L19', '11K100GR0L19', '12K100GR0L19', '05K100GR0N19', '06K100GR0N19', '07K100GR0N19', '08K100GR0N19', '09K100GR0L19', '00T000QT0L19', '00T000QT0N19', '03T000QT0N19', '04T000QT0N19', '05T000QT0N19', '06T000QT0L19', '07T000QT0L19', '08T000QT0L19']

In [ ]:
for i in range(2,44):
        df=df.rename(columns={df.columns[i]: str(name[i]) + " " + str(name_next_line[i])})
df = df.drop(labels = [0],axis = 0)
df = df.drop(labels = [1],axis = 0)
df.head()

,Unnamed: 0.1,Period_Time,Выработка электроэнергии ТА гр.130 00T000GE0L19,Выработка электроэнергии ТА гр.90 00T000GE0N19,Удельный расход тепла на выработку э/э ТА гр.130 00T000DU0L19,Удельный расход тепла на выработку э/э ТА гр.90 00T000DU0N19,Удельный расход условного топлива на отпуск э/э гр.130 00S000GD0L19,Удельный расход условного топлива на отпуск э/э гр.90 00S000GD0N19,Расход пара в конденсатор ТА №3 03T110DH0N19,Расход пара в конденсатор ТА №4 04T110DH0N19,...,Средний расход перегретого пара КА №8 08K100GR0N19,Средний расход перегретого пара КА №9 09K100GR0L19,Отпуск тепла из ТО ТА гр.130 00T000QT0L19,Отпуск тепла из ТО ТА гр.90 00T000QT0N19,Отпуск тепла из ТО ТА №3 03T000QT0N19,Отпуск тепла из ТО ТА №4 04T000QT0N19,Отпуск тепла из ТО ТА №5 05T000QT0N19,Отпуск тепла из ТО ТА №6 06T000QT0L19,Отпуск тепла из ТО ТА №7 07T000QT0L19,Отпуск тепла из ТО ТА №8 08T000QT0L19
2,2,2019-01-01 00:00:00,6127.957,1017.03,1359.1805556076845,1943.9,312.51610659934016,466.81346335325577,0,63.36363636363637,...,85.20833333333333,317.8333333333333,10544,1275,0,424,851,4149,3204,3191
3,3,2019-01-02 00:00:00,6178.173,1018.596,1357.8447868002402,1896.73,312.14650075768895,460.44077533734463,0,43.708333333333336,...,83.29166666666667,301.3333333333333,10497,1279,0,439,840,4279,3227,2991
4,4,2019-01-03 00:00:00,6543.367,1022.184,1394.8476373096603,1981.05,313.1850362448487,468.6093553715739,0,72,...,96.91666666666667,335.8333333333333,10494,1463,0,451,1012,3893,3470,3131
5,5,2019-01-04 00:00:00,6532.341,831.768,1376.2294405634977,1823.83,318.0807171719975,477.16945557753775,0,47.208333333333336,...,110.04166666666667,356.2916666666667,10836,1195,0,414,781,4259,3268,3309
6,6,2019-01-05 00:00:00,6222.951,963.12,1370.089528264002,1723.57,315.7264120854316,443.5126748031742,14.142857142857142,42.791666666666664,...,94.375,314.5833333333333,9934,1646,0,451,1195,4104,2829,3001

In [ ]:
df = df.drop(columns='Unnamed: 0.1') 
df.head()

,Period_Time,Выработка электроэнергии ТА гр.130 00T000GE0L19,Выработка электроэнергии ТА гр.90 00T000GE0N19,Удельный расход тепла на выработку э/э ТА гр.130 00T000DU0L19,Удельный расход тепла на выработку э/э ТА гр.90 00T000DU0N19,Удельный расход условного топлива на отпуск э/э гр.130 00S000GD0L19,Удельный расход условного топлива на отпуск э/э гр.90 00S000GD0N19,Расход пара в конденсатор ТА №3 03T110DH0N19,Расход пара в конденсатор ТА №4 04T110DH0N19,Расход пара в конденсатор ТА №5 05T110DH0L19,...,Средний расход перегретого пара КА №8 08K100GR0N19,Средний расход перегретого пара КА №9 09K100GR0L19,Отпуск тепла из ТО ТА гр.130 00T000QT0L19,Отпуск тепла из ТО ТА гр.90 00T000QT0N19,Отпуск тепла из ТО ТА №3 03T000QT0N19,Отпуск тепла из ТО ТА №4 04T000QT0N19,Отпуск тепла из ТО ТА №5 05T000QT0N19,Отпуск тепла из ТО ТА №6 06T000QT0L19,Отпуск тепла из ТО ТА №7 07T000QT0L19,Отпуск тепла из ТО ТА №8 08T000QT0L19
2,2019-01-01 00:00:00,6127.957,1017.03,1359.1805556076845,1943.9,312.51610659934016,466.81346335325577,0,63.36363636363637,0,...,85.20833333333333,317.8333333333333,10544,1275,0,424,851,4149,3204,3191
3,2019-01-02 00:00:00,6178.173,1018.596,1357.8447868002402,1896.73,312.14650075768895,460.44077533734463,0,43.708333333333336,0,...,83.29166666666667,301.3333333333333,10497,1279,0,439,840,4279,3227,2991
4,2019-01-03 00:00:00,6543.367,1022.184,1394.8476373096603,1981.05,313.1850362448487,468.6093553715739,0,72,0,...,96.91666666666667,335.8333333333333,10494,1463,0,451,1012,3893,3470,3131
5,2019-01-04 00:00:00,6532.341,831.768,1376.2294405634977,1823.83,318.0807171719975,477.16945557753775,0,47.208333333333336,0,...,110.04166666666667,356.2916666666667,10836,1195,0,414,781,4259,3268,3309
6,2019-01-05 00:00:00,6222.951,963.12,1370.089528264002,1723.57,315.7264120854316,443.5126748031742,14.142857142857142,42.791666666666664,51.72727272727273,...,94.375,314.5833333333333,9934,1646,0,451,1195,4104,2829,3001

In [ ]:
df.to_csv('page2_normal.csv')