In [ ]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import os

In [ ]:
df = pd.read_csv("page2.csv")

In [ ]:
collum_name = []
for col_name, data in df.items():
  collum_name.append(data[0])

In [ ]:
counter = {}

for elem in collum_name:
    counter[elem] = counter.get(elem, 0) + 1

doubles = {element: count for element, count in counter.items() if count > 1}

print(doubles)

{nan: 7}

In [ ]:
df=df.rename(columns={df.columns[1]: 'Period_Time'})
df.head()
df.at[0, 'Period_Time'] = 'Period'

In [ ]:
df = df.drop(columns=['Unnamed: 7', 'Unnamed: 14', 'Unnamed: 21', 'Unnamed: 30', 'Unnamed: 39', 'Unnamed: 42', ])

In [ ]:
df=df.rename(columns={df.columns[1]: 'Period_Time'})

In [ ]:
name = []
for i in range(44):
  for idx, row in df.iterrows():
    name.append(row[i])
    break

In [ ]:
for i in range(44):
  df=df.rename(columns={df.columns[i]: name[i]})
df=df.rename(columns={df.columns[0]: 'Index'})
df = df.drop(labels = [0],axis = 0)

In [ ]:
df.to_csv('page2_normal.csv')