In [110]:
import numpy as np
import pandas as pd
import os

In [111]:
df = pd.read_csv("page2.csv")

In [112]:
collum_name = []
for col_name, data in df.items():
  collum_name.append(data[0])

In [113]:
counter = {}

for elem in collum_name:
    counter[elem] = counter.get(elem, 0) + 1

doubles = {element: count for element, count in counter.items() if count > 1}

print(doubles)

{nan: 7}

In [114]:
df=df.rename(columns={df.columns[1]: 'Period_Time'})
df.head()
df.at[0, 'Period_Time'] = 'Period'

In [115]:
df = df.drop(columns=['Unnamed: 7', 'Unnamed: 14', 'Unnamed: 21', 'Unnamed: 30', 'Unnamed: 39', 'Unnamed: 42', ])

In [116]:
df=df.rename(columns={df.columns[1]: 'Period_Time'})

In [117]:
name = []
for i in range(44):
  for idx, row in df.iterrows():
    name.append(row[i])
    break

In [118]:

name_next_line = []
for i in range(44):
  for index, row in df.iloc [1:3, :].iterrows ():
      name_next_line.append(row[i])
      break

In [119]:
for i in range(2,44):
        df=df.rename(columns={df.columns[i]: str(name[i]) + " " + str(name_next_line[i])})
df = df.drop(labels = [0],axis = 0)
df = df.drop(labels = [1],axis = 0)

In [120]:
df = df.drop(columns='Unnamed: 0.1')

In [121]:
df.to_csv('page2_normal.csv')