In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

In [48]:
data = pd.read_excel("Новосибирская_ТЭЦ_2_расчет_пережогов.xlsm", sheet_name="Данные")[:-3]

# **переименовываем колонки**

In [49]:
data = data.rename(columns={'П': 'P', 'АКС код': 'AKS_code',
                    'Описание': 'Description', 'Обозначение': 'Designation',
                    'Ед. изм.': 'Unit_of_measure', 'Тип': 'Type'})

In [52]:
for elem in data.iloc[:, 6:-1]:
  dataT = str(elem).strip().split()
  hour_el = int(dataT[0].replace('ч.', ''))
  year_el = int(dataT[1].split('.')[-1])
  month_el = int(dataT[1].split('.')[1])
  day_el = int(dataT[1].split('.')[0])
  data = data.rename(columns={elem: datetime(year=year_el,
                                             month=month_el,
                                             day=day_el,
                                             hour=hour_el)})

In [60]:
for elem in data.iloc[:, -1:]:
  dataT = str(elem).strip().split()
  year_el = int(dataT[0].split('.')[-1])
  month_el = int(dataT[0].split('.')[1])
  day_el = int(dataT[0].split('.')[0])
  data = data.rename(columns={elem: datetime(year=year_el,
                                             month=month_el,
                                             day=day_el)})

# **проверяем на пустые значения**

In [62]:
data.columns[data.isna().any()]

Index([], dtype='object')